<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REAL . - Verified News</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <div class="line">
            <img src="/images/Line.png">
        </div>
        <div class="filter">
            <img src="/images/filter.png">
        </div>
    </header>
    <main>
        <h1 class="location">Your current location</h1>
        <h1 class="address"><img src="/images/loc.png" alt="">Albert St Brisbane City, QLD 4000</h1>
        <br>
        <h1 class="live">LIVE<span class="reddot"> • </span><span class="update">Update</span></h1>
        <!-- Scrollable Circles for Live Updates -->
        <div class="live-news-container">
            <div class="circle-item">
                <img src="/images/southbank.jpg" alt="Southbank">
                <p>Southbank<span class="reddot"> • </span></p>
            </div>
            <div class="circle-item">
                <img src="/images/Albertstreet.jpg" alt="Albert Street">
                <p>Albert Street<span class="reddot"> • </span></p>
            </div>
            <div class="circle-item">
                <img src="/images/fortitudevalley.jpg" alt="Fortitude Valley">
                <p>Fortitude Valley<span class="reddot"> • </span></p>
            </div>
            <div class="circle-item">
                <img src="/images/koala.jpg" alt="Newstead">
                <p>Woolloongabba<span class="reddot"> • </span></p>
            </div>
            <div class="circle-item">
                <img src="/images/kangroo.jpg" alt="Kangaroo Point">
                <p>Kangaroo Point<span class="reddot"> • </span></p>
            </div>
            <div class="circle-item">
                <img src="/images/city.jpg" alt="West End">
                <p>Brisbane City<span class="reddot"> • </span></p>
            </div>
        </div>
        <h1 class="feed-title">Verified news in your area</h1>
        <div class="news-container">
            <% newsList.forEach(function(newsItem) { %>
                <% if (newsItem.ribbonType == 'verified') { %>

                <article class="news-item" id=<%=newsItem.id %>>
                    <div class="ribbon <%= newsItem.ribbonType %>">
                        <%= newsItem.ribbonType.charAt(0).toUpperCase() + newsItem.ribbonType.slice(1) %>
                    </div>
                    <div class="news-top">
                        <div class="profile-pic">
                            <img src=<%=newsItem.imgSrc %>> // need to change this profile picture out
                        </div>
                        <span class="user-name">
                            <%= newsItem.author %>
                        </span>
                        <span class="dot">•</span>
                        <span class="time">
                            <%= newsItem.time %>
                        </span>
                        <span class="dot">•</span>
                        <span class="news-status">News popular near you</span>
                    </div>
                    <div class="news-image">
                        <img src=<%=newsItem.newsImgSrc %>>
                    </div>
                    <div class="news-content">
                        <h3>
                            <%= newsItem.title %>
                        </h3>
                        <p>
                            <%= newsItem.content %>
                        </p>
                        <!-- <button onclick="" class="verify-btn">
                                    Verify
                                </button> -->
        
                    </div>
                    <div class="news-actions">
                        <button class="likes-btn">
                            <img src="images/like.png" alt="20">
                            <span><%= newsItem.likes %>Likes</span>
                        </button>
                        <button class="comment-btn">
                            <img src="images/comment.png" alt="Comment">
                            <span><%= newsItem.commentsCount %>300</span>
                        </button>
                        <button class="share-btn">
                            <img src="images/share-b.png" alt="Share">
                            <span>Share</span>
                        </button>
                    </div>
                    <button class="a-verify-btn">Verify</button>

                </article>
                <% } }); %>
        </div>
    </main>

    <nav class="bottom-nav">
        <a href="/">
            <div class="nav-icon"><img src="/vectors/home.svg"></div>
            <span>Home</span>
        </a>
        <a href="/verified-news" class="active">
            <div class="nav-icon"><img src="/images/verify.png"></div>
            <span>Verified News</span>
        </a>
        <a href="/map">
            <div class="nav-icon"><img src="/vectors/map.svg"></div>
            <span>Map</span>
        </a>
    </nav>
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 Real. All rights reserved.</p>
            <p>Team: Curry Powder</p>
        </div>
    </footer>    
</body>
</html>